/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Regole dell'header */

body{
    /* position: relative; */
   
    margin: 0 auto;
}

header{
    background-color: chocolate;
    height: 100px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;

}

/* Regole del main */

main{
    width: 70%;
    margin: 0 auto;

}

section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product{
    background-color: grey;
    min-height: 400px;
    width: 32%;
    position: relative;
    margin : 20px 0;
    
    
}

.heart{
    background-color: white;
    position: absolute;
    z-index: 500;
    text-align: center;
    top: 0;
    right: 0;

}

/* Regole del footer  */

footer{
    background-color: black;
    height: 100px;
    width: 100%;

}